version: 2.1

orbs:
  node: circleci/node@5.1.0
  docker: circleci/docker@2.2.0

jobs:
  eslint-api:
    working_directory: ~/fpis/api
    executor: node/default
    steps:
      - checkout:
          path: ~/fpis
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm run lint
          name: Run Lint

  eslint-web:
    working_directory: ~/fpis/web
    executor: node/default
    steps:
      - checkout:
          path: ~/fpis
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm run lint
          name: Run Lint

  build-and-push-api:
    working_directory: ~/fpis/api
    environment:
      DOCKER_IMAGE: tuchan17/fpis_express
      DOCKER_TAG: latest
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout:
          path: ~/fpis
      - docker/check:
          docker-username: DOCKER_USERNAME
          docker-password: DOCKER_PASSWORD
      - docker/build:
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - docker/push:
          digest-path: /tmp/digest.txt
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - run:
          command: |
            echo "Digest is: $(</tmp/digest.txt)"

  build-and-push-web:
    working_directory: ~/fpis/web
    environment:
      DOCKER_IMAGE: tuchan17/fpis_next
      DOCKER_TAG: latest
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout:
          path: ~/fpis
      - docker/check:
          docker-username: DOCKER_USERNAME
          docker-password: DOCKER_PASSWORD
      - docker/build:
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - docker/push:
          digest-path: /tmp/digest.txt
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - run:
          command: |
            echo "Digest is: $(</tmp/digest.txt)"

  deploy-contract: 
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout
      - run:
          name: Kiểm tra sự thay đổi
          command: |
            previous_commit=$(git rev-parse HEAD^)
            changes=$(git diff $previous_commit -- api/contracts/)
            git diff $previous_commit -- api/contracts/
            echo $previous_commit
            if [ -z "$changes" ]; then
              echo "Không có thay đổi trong mã thông minh."
            else
              echo "Có sự thay đổi trong mã thông minh. Tiến hành triển khai..."
              # Thực hiện quá trình triển khai ở đây
              cd api/
              ls
            fi

workflows:
  test-build-deploy:
    jobs:
      - eslint-api
      - eslint-web
      - deploy-contract: 
          requires:
            - eslint-api
            - eslint-web
          filters:
            branches:
              only:
                - develop
      - build-and-push-api:
          requires:
            - eslint-api
            - eslint-web
          filters:
            branches:
              only:
                - develop
      - build-and-push-web:
          requires:
            - eslint-api
            - eslint-web
          filters:
            branches:
              only:
                - develop