version: 2.1

orbs:
  node: circleci/node@5.1.0
  docker: circleci/docker@2.2.0

jobs:
  eslint:
    working_directory: ~/fpis/react-app
    executor: node/default
    steps:
      - checkout:
          path: ~/fpis
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm run lint
          name: Run Lint

  deploy-contract: 
    working_directory: ~/fpis/react-app
    executor: node/default
    steps:
      - checkout:
          path: ~/fpis
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Create .env file
          command: |
            echo "PRIVATE_KEY=$METAMASK_PRIVATE_KEY" > ~/fpis/react-app/.env
            cat .env
      - run:
          name: Checking the change in smart contract code
          command: |
            cd ..
            previous_commit=$(git rev-parse HEAD^)
            changes=$(git diff $previous_commit -- react-app/contracts/)

            git diff $previous_commit -- react-app/contracts/
            if [ -z "$changes" ]; then
              echo "There are no changes in the smart contract code."
              cd react-app/
              ls
              cat src/contract-info.json
            else
              echo "There are changes in the smart contract code."
              cd react-app/
              npm run compile
              npm run deploy:testnet
              cat src/contract-info.json
            fi
      - persist_to_workspace:
          root: ~/fpis/react-app/src
          paths:
            - contract-info.json

  build-and-push:
    working_directory: ~/fpis/react-app
    environment:
      DOCKER_IMAGE: tuchan17/fpis_app
      DOCKER_TAG: latest
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout:
          path: ~/fpis
      - attach_workspace:
          at: ~/fpis/react-app/src
      - run:
          name: Use Persisted File
          command: |
            mv ~/fpis/react-app/src/contract-info.json ~/fpis/react-app/src/contract-info-old.json
            cp ~/fpis/react-app/src/contract-info-old.json ./src/contract-info.json
            cat src/contract-info.json
            ls
            ls src/
            pwd
      - docker/check:
          docker-username: DOCKER_USERNAME
          docker-password: DOCKER_PASSWORD
      - docker/build:
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - docker/push:
          digest-path: /tmp/digest.txt
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - run:
          command: |
            echo "Digest is: $(</tmp/digest.txt)"

  deploy: 
    machine:
      image: ubuntu-2004:current
    steps:
      - add_ssh_keys:
          fingerprints:
            - "ac:7d:dc:82:e4:b6:c8:ef:ef:80:9e:d9:2e:92:e2:0d"
      - run:
          name: Deploy Over SSH
          command: |
            ssh -oStrictHostKeyChecking=no -vv 'tuchanvnu-testgitpod-gb0khs8e87p@tuchanvnu-testgitpod-gb0khs8e87p.ssh.ws-us104.gitpod.io' "./deploy.sh"

workflows:
  test-build-deploy:
    jobs:
      - eslint
      - deploy-contract:
          requires:
            - eslint
          filters:
            branches:
              only:
                - master
      - build-and-push:
          requires:
            - deploy-contract
          filters:
            branches:
              only:
                - master
      - deploy:
          requires:
            - build-and-push
          filters:
            branches:
              only:
                - master